*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html {
    background: rgb(8, 8, 8, 0.1);
    width: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0 ;
    right: 0;
    width: 10px;
    height: 100%;
}
#progressbar {
    position: fixed;
    top: 0 ;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}
#progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.header {
    height: 100vh;
    width: 100%;
    display: flex;
}

.thanh-bar .thanhbar-fix {
    height: 45px;
    width: 101%;
    background: rgba(224, 131, 24, 0.6);
    position: fixed;
    top:0;
    z-index: 1;
}
.thanh-bar .thanhbar-fix > ul > li {
    display: inline-block;
    line-height: 45px;
    font-weight: 600;
    width: 19.5%;
    
    
}
.thanh-bar .thanhbar-fix > ul > li:last-child {
    width: 20.5%;
}

/* .thanh-bar .thanhbar-fix > ul > li:first-child {
    margin-left: 25px;
} */
.thanh-bar .thanhbar-fix ul li .bar-link {
    /* padding: 0 25px; */
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    text-align: center;
}
.thanh-bar .thanhbar-fix ul li a:hover {
    background: #ccc;
    color: rgb(224, 131, 24);
}



/* hết css thanh bar rồi nè */

/* bắt đầu trang 1 */
#avatar {
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.img-avatar {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(224, 131, 24, 0.6);
    margin:120px 0 30px 0 ;
    user-select: none;
}
h2 {
    text-align: center;
    color: orange;
    font-size: 40px;
}
.header .header-p {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.sociable {
    text-align: center;
    margin: 30px auto;
}
.sociable .img-sociable {
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
    transition: 0.5s;
}
.sociable .img-sociable:hover {
    transform: scale(1.2);
}
#container {
    width: 100%;
    height: 100vh;
    margin-top: 210px;
}
#container > h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    transition: 0.5s;
}

#container > h1:hover{
    transform: translateY(-5px);
    cursor: default;
}
#container > h1::after {
    content: "";
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 50%;
    height: 0.3rem;
    transform: translate(50%, 50%);
    background-color: rgba(224, 131, 24, 0.6);
}
#container > h2 {
    color: black;
    font-size: 25px;
    margin-left: 15%;
    margin-top: 50px;
    float: left;
    margin-bottom: 20px;
}
#container > p {
    font-size: 15px;
    float: left;
    margin-left: 16%;
    text-align: left;
    margin-right: 10%;
    font-weight: 300;
    line-height: 30px;
}
#about-infor {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-top: 350px;
    width: 50%;
    margin-left: 390px;
}
#about-infor .about-infor-item {
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid rgba(224, 131, 24, 0.6);
}
#about-infor span {
    font-weight: 600;
}
#education {
    
    height: 120vh;
    width: 100%;
}
#education > h1 {
    text-align: center;
    font-size: 50px;
    transition: 0.5s;
}
#education > h1:hover {
    transform: translateY(-5px);
    cursor: default;
}
#education > h1::after {
    content: "";
    position: absolute;
    /* bottom: -0.5px; */
    left: 0;
    width: 50%;
    height: 0.3rem;
    transform: translate(50%, 75px);
    background-color: rgba(224, 131, 24, 0.6);
}
#education .education-infor {
    width: 900px;
    height: 230px;
    background-color: white;
    box-shadow: 0 0 10px rgba(224, 131, 24, 0.6);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 300px;
}
#education .education-infor .education-img {
    width: 462px;
    transition: 0.5s;
    height: auto;
}
#education .education-infor .education-img:hover{
    transform: scale(1.1);
}
.des-education {
    border-left: 1px solid rgba(224, 131, 24, 0.6);
    margin-left: 50px;
    height: 75%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.des-education > h3 {
    margin-left: 30px;
    margin-bottom: 0;
    width: 100%;
    font-size: 18px;
    opacity: 0.5;
}
.des-education h4 {
    margin-top: 10px;
    margin-left: 30px;
    left: 0;
}
.des-education > p  {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 30px;
}
#contact {
    
    height: 170vh;
    /*  */
    margin-top: -40px;
}
#contact > h1 {
    text-align: center;
    font-size: 50px;
    cursor: default;
    transition: 0.5s;
}
#contact > h1:hover{
    transform: translateY(-5px);

}
#contact > h1::after {
    content: "";
    position: absolute;
    /*  */
    left: 0;
    width: 50%;
    height: 0.3rem;
    transform: translate(50%, 75px);
    background-color: rgba(224, 131, 24, 0.6);
}
.infor1 {
    display: flex;
    margin: 120px 0 30px 230px;
}
.input-1:hover {
    box-shadow: 0 0 15px rgba(224, 131, 24, 0.6);
}

.input-1 {
    outline-style:none;
    width: 500px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.input-1:last-child {
    width: 500px;
    margin-left: 70px;
}
.infor2 {
    display: flex;
    flex-wrap: wrap;
    
    
}
.input-text {
    width: 1070px;
    margin-left: 230px;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px; 
    border-radius: 30px;
    border: 1px solid #ccc;
    outline-style: none;
}
.input-text:last-child {
    margin-top: 60px;
}
.input-text:hover {
    box-shadow: 0 0 15px rgba(224, 131, 24, 0.6)
}
.submit {
    display: flex;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 90px;
    background: rgba(224, 131, 24, 1);
    color: white;
    border: #ccc 2px solid;
}
.submit:active {
    border-style: inset;
}
#information {
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
}
.maps {
    width: 700px;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(224, 131, 24, 0.6);
}

#information h3 {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
}
#information h3:after {
    content: " ";
    display: flex;
    margin-top: 5px;
    width: 0;
    height: 1px;
    background-color: black;
    border-bottom: 1px solid black;
    transition: width 1s linear;
    right: 0;
}
#information h3:hover:after {
    width: 103%;
}
.descrip {
    margin-top: 90px;
    
}
.goodbye {
    margin-top: 30px;
    text-align: center;
    background-color: aquamarine;
    font-size: 20px;
    padding: 5px 0;
    width: 100%;
}